{% extends "issues/base.html" %}
{% block title %}Issues{% endblock %}
{% block mailings_issues_class %}active{% endblock %}
{% block content %}
<table class='noborder'>
  <tr>
    <td><h1>Issues</h1></td>
    <td><a href='#' class='toggle-add-issue button'>Add</a></td>
  </tr>
 </table>
 <form class='add-issue-form' {% if not form.errors %}style='display: none;'{% endif %}
    method='post' action=''>{% csrf_token %}
   {{ form.as_p }}
   <p><input type='submit' class='flatbutton blue' value='Add Issue' /></p>
 </form>
<table>
    <tr>
        <th>Number</th><th>Date</th><th>Recipients</th>
    </tr>
    {% for issue,count in issues_with_counts %}
    <tr>
        <td><a href="{% url 'subscribers.issues.show' issue.pk %}">{{ issue }}</a></td>
        <td>{{ issue.date|date }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
  <script type='text/javascript'>
    $(".toggle-add-issue").on("click", function(event) {
        event.preventDefault();
        $("form.add-issue-form").toggle();
    });
    $("#id_date").datepicker({dateFormat: "yy-mm-dd"}).attr({placeholder: "YYYY-MM-DD"});
  </script>
{% endblock %}
