{% extends "issues/base.html" %}

{% load static %}

{% block title %}{{ issue }}{% endblock %}

{% block content %}
  <h1>{{ issue }}</h1> 
  <h3>{{ issue.date|date }}</h3>
  <h2>Recipients</h2>
  <table>
    <tr>
      <th>Needed:</th>
      <td><a href='?path=needed'>{{ paths.needed.count }}</a></td>
      <th>Unreachable:</th>
      <td><a href='?path=unreachable&lost_contact=1'>{{ paths.unreachable.count }}</a></td>
      <th>Enqueued:</th>
      <td><a href='?path=enqueued'>{{ paths.enqueued.count }}</a></td>
      <th>Sent:</th>
      <td><a href='?path=sent'>{{ paths.sent.count }}</a></td>
    </tr>
  </table>
  <a href="{% url 'subscribers.mailings.needed' issue.id %}">Manage mail for this issue</a>

{% if form %}
  <h3>{{ what }}</h3>
  {% include "_contact_search_form.html" %}
  <div class='recipients'>
      <img class='loading' src="{% static 'img/spinner.gif' %}" style='display: none;' alt='loading...' />
      {% include "_pagination.html" %}
      {% if page.paginator.count > 0 %}
        <a href='{{ page.querystr }}xlsx=1' style='background-color: #eec'>&dArr; Download XLSX</a>
        <a href='{{ page.querystr }}pdf=1' style='background-color: #eec'>&dArr; Download Labels</a>
      {% endif %}
      <table>
      {% for contact in page.object_list %}
          <tr><td><a href="{% url 'subscribers.contacts.show' contact.pk %}">{{ contact.show_name }}</a>
                  <div class='address'>{{ contact.format_address }}</div></td></tr>
      {% endfor %}
      </table>
      {% include "_pagination.html" %}
  </div>
{% endif %}


{% endblock %}


{% block scripts %}
  <script type='text/javascript'>
    instasearch($("#contact_search"), "div.recipients");
  </script>
{% endblock %}
