{% extends "base.html" %}


{% block title %}Restart Success{% endblock %}

{% block content %}
<h1>Successfully Restarted</h1>
<p>If you don't see the changes you expected, contact support!</p>
<p><a href='/'>Home</a></p>
{% endblock %}
