{% extends "base.html" %}


{% block title %}Restart{% endblock %}

{% block content %}
<h1>Restart web server</h1>
<form action='' method='post'>{% csrf_token %}
  <p>
  Click to restart the server process.  This takes at least ONE MINUTE.  When
  it has come back online, you can refresh the page.
  </p>
  <p>
  <input type='submit' value='Restart web server process, then wait 1 minute'>
  </p>
</form>
<p><a href='/'>Back</a></p>
{% endblock %}
