{% extends "base.html" %}


{% block title %}Upgrade{% endblock %}

{% block content %}
<h1>Upgrade</h1>
<p>Please confirm your password before upgrading:</p>
<form method='POST' action=''>{% csrf_token %}
  {{ form.as_p }}
  <p><input type='submit' value='Start upgrade' /></p>
</form>
{% endblock %}
