{% extends "base.html" %}


{% block title %}Upgrade returned{% endblock %}

{% block content %}
<h1>Upgrade result</h1>
<p><b>{{ message }}</b></p>
{% if not error %}
<p>Next: <a class='flatbutton' href="{% url '"restart"' %}">Restart the web server.</a>
{% else %}
  <p><a href='/'>Back</a></p>
{% endif %}
{% if stdout or stderr %}
  <p>Output from the upgrade process:</p>
  {% if stdout %}
    <pre>{{ stdout }}</pre>
  {% endif %}
  {% if stderr %}
    <pre>{{ stderr }}</pre>
  {% endif %}
{% endif %}
{% endblock %}
