{% extends "stats/base.html" %}

{% block stats_questions_class %}active{% endblock %}

{% block title %}Answers{% endblock %}

{% block content %}

<a class='button' href="{% url 'subscribers.stats.questions' %}">&lt; Back</a>

{% if key == "received_issue" %}
<h2>
  Which contacts who were incarcerated in<em>{{ location }}</em> were sent <em>{% firstof cleaned_data.issue "any issue" %}</em> between
  <em>{{ cleaned_data.start_date }}</em> and <em>{{ cleaned_data.end_date }}</em>?
</h2>
<p class='narrow'>NOTE: This only shows incarcerated contacts, even when state/city/institution are not given.</p>
{% elif key == "paid_subscription" %}
  <h2>
    Which contacts paid for their own subscription while incarcerated in
    <em>{{ location }}</em> between
    <em>{{ cleaned_data.start_date }}</em> and
    <em>{{ cleaned_data.end_date }}</em>?
  </h2>
  <p class='narrow'>
    NOTE: this only shows results where our records show the
    contact to have the institution as their current address <b>at the time they
      issued payment</b>.  This is fewer results than those who were subscribed
    while incarcerated, and in particular misses older records where address or
    subscription info is inaccurate.
  </p>
  <p class='narrow'>
    Prior to {{ SUBSCRIPTION_CUTOFF|date }}, we don't have accurate data on when
    people renewed subscriptions.
  </p>
{% elif key == "delivery_attempt" %}
  <h2>
    Which contacts did PLN attempt to send any type of mail while incarcerated in
    <em>{{ location }}</em> between
    <em>{{ cleaned_data.start_date }}</em> and
    <em>{{ cleaned_data.end_date }}</em>?
  </h2>
  <p class='narrow'>
    NOTE: This only shows incarcerated contacts, even when
    state/city/institution are not given.  It also misses any gaps in old
    records of mailings due to historical database corruption.
  </p>
{% elif key == "lived_in" %}
  <h2>
    Which contacts were incarcerated in
    <em>{{ location }}</em> between 
    <em>{{ cleaned_data.start_date }}</em> and
    <em>{{ cleaned_data.end_date }}</em>?
  </h2>
{% elif key == "subscription_expired" %}
  <h2>
    Which contacts' subscriptions expired while incarcereted in
    <em>{{ location }}</em> between
    <em>{{ cleaned_data.start_date }}</em> and
    <em>{{ cleaned_data.end_date }}</em>?
  </h2>
{% elif key == "contact_source_counts" %}
  <h2>What are the counts for different sources for contacts?</h2>

  {% for category, source_counts in counts %}
    <h3>{{ category }}</h3>
    <ul>
    {% for source, count_pk in source_counts %}
    <li><a href="{% url 'subscribers.contacts' %}?source={{count_pk.pk}}">{{ source }}</a>: {{ count_pk.count }}</li>
    {% endfor %}
    </ul>
  {% endfor %}
{% elif key == "subscription_source_counts" %}
  <h2>What are the counts for different sources for subscriptions?</h2>
  <ul>
  {% for name, count in counts %}
    <li>{{ name }}: {{ count.count }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% if page %}
    {% include "_pagination.html" %}
    {% if page.paginator.count > 0 %}
      <a href="{% url 'subscribers.stats.answers' %}{{ page.querystr }}xlsx=1" style='background-color: #eec'>&dArr; Download XLSX</a>
    {% endif %}
    {% include "_contact_table.html" with contacts=page %}
    {% include "_pagination.html" %}
{% elif error %}
  There were errors:
  {{ error }}
  Please press "back" and try again.
{% elif cleaned_data %}
  No contacts found.
{% endif %}


{% endblock %}
