{% extends "base.html" %}
{% load humanize %}
{% block title %}Stats{% endblock %}
{% block stats_nav_class %}active{% endblock %}
{% block subnav %}
    <ul>
        <li>Stats:</li>
        <li class='{% block stats_subscriptions_class %}{% endblock %}'><a href="{% url 'subscribers.stats' %}">Subscriptions</a> | </li>
        <li class='{% block stats_questions_class %}{% endblock %}'><a href="{% url 'subscribers.stats.questions' %}">Questions</a></li>
    </ul>
{% endblock %}
