{% extends "stats/base.html" %}
{% block stats_subscriptions_class %}active{% endblock %}
{% block content %}
<style type='text/css'>
  .bar-holder {
    width: 100px;
    position: relative;
  }
  .bar-holder a {
    position: relative;
  }
  .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #dfd;
    z-index: 0
  }
  .renew-holder, .expiring-holder {
    width: 50px;
    position: relative;
  }
  .churn-positive {
    color: #000;
  }
  .churn-negative {
    color: #f00;
  }
</style>
<h1>&ldquo;Leaky Bucket&rdquo;</h1>

<p style='max-width: 40em;'>NOTE: The subscription counts here are not exact. In order to maintain reasonable performance, this table does not take into account interruptions in delivery such as mailing stays or bad addresses, and does not correct inconsistencies from old database errors.  Use it to get a sense of magnitude, not precision.</p>

<table style='float: left; margin-right: 1em;'>
  <tr>
    <th>Month</th>
    <th>New</th>
    <th>Renewed</th>
    <th>Ongoing</th>
    <th>Expiring</th>
    <th>Churn</th>
  </tr>
  {% for index, month in months %}
  <tr data-index='{{ index }}' class='month-row'>
    <td>{{ month.label }}</td>
    <td>
      <div class='bar-holder'>
        <div class='bar new' data-count='{{ month.new }}'></div>
        <a href='?start_index={{ index }}&key=new#subscriber-count'>{{ month.new }}</a>
      </div>
    </td>
    <td>
      <div class='bar-holder'>
        <div class='bar renew' data-count='{{ month.renew }}'></div>
        <a href='?start_index={{ index }}&key=renew#subscriber-count'>{{ month.renew }}</a>
      </div>
    </td>
    <td>
      <div class='bar-holder'>
        <div class='bar current' data-count='{{ month.current }}'></div>
        <a href='?start_index={{ index }}&key=current#subscriber-count'>{{ month.current }}</a>
      </div>
    </td>
    <td>
      <div class='bar-holder'>
        <div class='bar expiring' data-count='{{ month.expiring }}'></div>
        <a href='?start_index={{ index }}&key=expiring#subscriber-count'>{{ month.expiring }}</a>
      </div>
    </td>
    <td>
      <div class='churn-count'></div>
    </td>
  </tr>
  {% endfor %}
</table>
<div style='float: left;'>
  {% if page %}
    <h2 id='subscriber-count'>{{ disp_month }}
      {% if disp_key == 'new' %}New subscriptions{% endif %}
      {% if disp_key == 'renew' %}Renewed subscriptions{% endif %}
      {% if disp_key == 'current' %}Ongoing subscriptions{% endif %}
      {% if disp_key == 'expiring' %}Expiring subscriptions{% endif %}
    </h2>

    {% include "_pagination.html" %}
    {% if page.paginator.count > 0 %}
      <a href="{% url 'subscribers.stats' %}{{ page.querystr }}xlsx=1" style='background-color: #eec'>&dArr; Download XLSX</a>
      <a href="{% url 'subscribers.stats' %}{{ page.querystr }}pdf=1" style='background-color: #eec'>&dArr; Download Labels</a>
    {% endif %}
    {% include "_contact_table.html" with contacts=page %}
    {% include "_pagination.html" %}
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type='text/javascript'>

{% if start_index %}
  $("[data-index={{ start_index }}]").find(".bar.{{ disp_key }}").closest("td").css({
      "background-color": "#ffa",
      "box-shadow": "0px 0px 3px #f90"
  });
{% endif %}

// Basic bars behind all counts
var keys = ["new", "renew", "current", "expiring"]; 
for (var i = 0; i < keys.length; i++) {
  var key = keys[i];
  var maximum = 0;
  var bars = [];
  $(".bar." + key).each(function(i, el) {
      el = $(el);
      var val = parseInt(el.attr("data-count"));
      maximum = Math.max(val, maximum);
      bars.push([el, val]);
  });
  for (var j = 0; j < bars.length; j++) {
    bars[j][0].css("width", (bars[j][1] / maximum * 100) + "%");
  }
}

// Churn bars
$(".month-row").each(function(i, el) {
    el = $(el);
    var churn = (
      parseInt(el.find(".bar.new").attr("data-count")) +
      parseInt(el.find(".bar.renew").attr("data-count")) -
      parseInt(el.find(".bar.expiring").attr("data-count"))
    );
    var klass;
    if (churn >= 0) {
      klass = "churn-positive";
    } else {
      klass = "churn-negative";
    }
    el.find(".churn-count").html(churn).addClass(klass);
});


// Divider for "now"
var now = new Date();
var now_index = now.getFullYear() * 12 + now.getMonth();
$("[data-index=" + now_index + "]").find("td").css("border-top", "3px solid black");

</script>

{% endblock %}
