{% extends "stats/base.html" %}

{% load static %}

{% block stats_map_class %}active{% endblock %}
{% block content %}
<h1>Map</h1>
<p>
The map shows the number of contacts currently residing in each state, filtered
by the search form below.
</p>

{% include "_contact_search_form.html" %}
<style type='text/css'>
    #scale {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #scale li span {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
    #scale li {
        list-style-type: none;
        float: left;
        margin-right: 1em;
    }
    #tooltip {
        position: absolute;
        padding: 1em;
        background-color: white;
        border: 1px solid black;
        display: none;
    }
</style>

<ul id='scale'></ul>
<div style='position: relative; clear: both;'>
<iframe style='border: none;' src="{% static 'img/Blank_US_Map.svg' %}" width='960px' height='600px' id='state_map'></iframe>
<div id='tooltip' style=''></div>
<div id='international'>International: <span class='count'></span></div>
</div>

<hr>

<div class='contacts'>
    <img class='loading' src="{% static 'img/spinner.gif' %}" style='display: none;' alt='loading...' />
    {% include "_pagination.html" %}
    {% if page.paginator.count > 0 %}
      <a href="{% url 'subscribers.contacts' %}{{ page.querystr }}xlsx=1" style='background-color: #eec'>&dArr; Download XLSX</a>
      <a href="{% url 'subscribers.contacts' %}{{ page.querystr }}pdf=1" style='background-color: #eec'>&dArr; Download Labels</a>
    {% endif %}
    <table>
    {% for contact in page.object_list %}
        <tr><td><a href="{% url 'subscribers.contacts.show' contact.pk %}">{{ contact.show_name }}</a>
                <div class='address'>{{ contact.format_address }}</div></td></tr>
    {% endfor %}
    </table>
    {% include "_pagination.html" %}

</div>

{% endblock %}
{% block scripts %}
<script type='text/javascript'>
    var state_data = {{ state_counts|safe }};
    var max = 0;
    var min = 0;
    var map = document.getElementById('state_map').contentWindow.document;
    for (var state in state_data) {
        if (state_data[state] > max) {
            max = state_data[state];
        }
        if (state_data[state] < min) {
            min = state_data[state];
        }
    }
    function colorize(val) {
        var scale = parseInt(Math.floor(
            (val - min) / (max - min) * 200 + 50
        ));
        return "rgb(0, " + scale + ", 0)"
    }
    $("#scale").append("<li>Color legend:</li>");
    for (var i = 4; i >= 0; i--) {
        var val = (max - min) / 4 * i;
        $("#scale").append(
            "<li><span style='background-color: " + colorize(val) + "'>&nbsp;</span> " + 
                 parseInt(Math.ceil(val)) + "</li>"
        )
    }
    $("#international .count").html(state_data.international || 0);
    $("#state_map").ready(function() {
        for (var state in state_data) {
            (function(state) {
                $("#" + state + ", #" + state + " path", map).css(
                    "fill", colorize(state_data[state])
                ).on('mousemove click', function(e) {
                    $("#tooltip").html(state + ": " + state_data[state]).show().css({
                        left: (e.clientX + 20) + "px",
                        top: (e.clientY + 20) + "px"
                    });
                }).on('mouseout', function(e) {
                    $("#tooltip").hide();
                });
            })(state);
        }
    });
</script>
{% endblock %}
