{% extends "stats/base.html" %}

{% block stats_questions_class %}active{% endblock %}

{% block title %}Questions{% endblock %}

{% block content %}
<h2>Questions</h2>

<p style='width: 44em;'>NOTE: please verify results before use &ndash; results are only as good as the data we have.  People may have moved without telling us.  There may also be historical data entry errors.</p>

<ul class='questions'>
  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      Which contacts <b>were sent</b> {{ received_issue.issue }}
      <br>while incarcerated in {{ received_issue.prison }}
      <br>between {{ received_issue.start_date }} and {{ received_issue.end_date }}? 
      <input type='hidden' name='key' value='received_issue' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
    <script type='text/javascript'>
      document.getElementById("id_received_issue-prison").className = "select-prison";
      document.getElementById("id_received_issue-start_date").className = "needs-datepicker";
      document.getElementById("id_received_issue-start_date").placeholder = "YYYY-MM-DD";
      document.getElementById("id_received_issue-end_date").className = "needs-datepicker";
      document.getElementById("id_received_issue-end_date").placeholder = "YYYY-MM-DD";
    </script>
  </li>
  
  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      Which contacts <b>paid for their own subscription</b> while incarcerated in
      <br>{{ paid_subscription.prison }}
      <br>between {{ paid_subscription.start_date }} and {{ paid_subscription.end_date }}?
      <input type='hidden' name='key' value='paid_subscription' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
    <script type='text/javascript'>
      document.getElementById("id_paid_subscription-prison").className = "select-prison";
      document.getElementById("id_paid_subscription-start_date").className = "needs-datepicker";
      document.getElementById("id_paid_subscription-start_date").placeholder = "YYYY-MM-DD";
      document.getElementById("id_paid_subscription-end_date").className = "needs-datepicker";
      document.getElementById("id_paid_subscription-end_date").placeholder = "YYYY-MM-DD";
    </script>
  </li>

  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      Which contacts did PLN <b>attempt to send any type of mail</b> while incarcerated in
      <br>{{ delivery_attempt.prison }}
      <br>between {{ delivery_attempt.start_date }} and {{ delivery_attempt.end_date }}?
      <input type='hidden' name='key' value='delivery_attempt' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
    <script type='text/javascript'>
      document.getElementById("id_delivery_attempt-prison").className = "select-prison";
      document.getElementById("id_delivery_attempt-start_date").className = "needs-datepicker";
      document.getElementById("id_delivery_attempt-start_date").placeholder = "YYYY-MM-DD";
      document.getElementById("id_delivery_attempt-end_date").className = "needs-datepicker";
      document.getElementById("id_delivery_attempt-end_date").placeholder = "YYYY-MM-DD";
    </script>
  </li>

  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      Which contacts were <b>incarcerated in</b>
      <br>{{ lived_in.prison }}
      <br>between {{ lived_in.start_date }} and {{ lived_in.end_date }}?
      <input type='hidden' name='key' value='lived_in' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
    <script type='text/javascript'>
      document.getElementById("id_lived_in-prison").className = "select-prison";
      document.getElementById("id_lived_in-start_date").className = "needs-datepicker";
      document.getElementById("id_lived_in-start_date").placeholder = "YYYY-MM-DD";
      document.getElementById("id_lived_in-end_date").className = "needs-datepicker";
      document.getElementById("id_lived_in-end_date").placeholder = "YYYY-MM-DD";
    </script>
  </li>

  <!--
  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      Which contacts' subscriptions <b>expired</b> while incarcerated in
      <br>{{ subscription_expired.prison }}
      <br>between {{ subscription_expired.start_date }} and {{ subscription_expired.end_date }}?
      <input type='hidden' name='key' value='lived_in' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
    <script type='text/javascript'>
      document.getElementById("id_subscription_expired-prison").className = "select-prison";
      document.getElementById("id_subscription_expired-start_date").className = "needs-datepicker";
      document.getElementById("id_subscription_expired-start_date").placeholder = "YYYY-MM-DD";
      document.getElementById("id_subscription_expired-end_date").className = "needs-datepicker";
      document.getElementById("id_subscription_expired-end_date").placeholder = "YYYY-MM-DD";
    </script>
  </li>
  -->

  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      What are the counts for different <b>sources</b> for contacts?
      <input type='hidden' name='key' value='contact_source_counts' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
  </li>

  <li>
    <form method='GET' action="{% url 'subscribers.stats.answers' %}">
      What are the counts for different <b>sources</b> for subscriptions?
      <input type='hidden' name='key' value='subscription_source_counts' />
      <input type='submit' class='flatbutton' value='Ask &gt;'>
    </form>
  </li>

</ul>

{% endblock %}
