{% extends "stats/base.html" %}

{% load static %}

{% block title %}Subscriber statistics{% endblock %}
{% block stats_subscriptions_class %}active{% endblock %}
{% block content %}
<style type='text/css'>
    ul.legend {
        position: absolute;
        top: 0;
        left: 0;
    }
    ul.legend li {
        list-style-type: none;
    }
    #subscriptions {
        border: 1px solid #eee;
    }
    .swatch {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .tip {
      background-color: white;
      padding: 0.5em;
    }

    
</style>
<h1>Subscribers over time</h1>
<div id='subscriptions' style='min-width: 960px; height: 600px; position: relative;'></div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/libs/Jit/jit.js' %}"></script>
<script type='text/javascript'>
    var data = {{ data|safe }};
    var chart = new $jit.AreaChart({
            injectInto: 'subscriptions',
            animate: true,
            Margin: {
                top: 5,
                left: 5,
                right: 5,
                bottom: 5
            },
            labelOffset: 20,
            showAggregates: true,
            showLabels: true,
            type: 'stacked',
            Label: {
                overridable: true,
                type: 'HTML',
                size: 10,
                family: 'Arial',
                color: 'black'
            },
            Tips: {
                enable: true,
                onShow: function(tip, elem) {
                    $(tip).html("<b>" + elem.name + "</b>: " + elem.value)
                }
            },
            filterOnClick: true,
            restoreOnRightClick: true
        });
    chart.loadJSON(data);

    var legend = chart.getLegend()
    var ul = $("<ul class='legend' />")
    for (var name in legend) {
        var color = legend[name];
        ul.prepend("<li><div class='swatch' style='background-color: " + color + "'></div>" + name + "</li>")
    }
    $("#subscriptions").append(ul)

    // Trim labels.
    var labelNum = 0
    $("#subscriptions .node").each(function() {
        // Show only every 8th label
        if (labelNum % 8 != 0) {
            $(this).remove()
        } else {
            $(this).css("width", $(this).width() * 4 + "px");
        }
        labelNum += 1;
    });



</script>
{% endblock %}
