{% load humanize %}
<table>
    <tr>
        <th>Name</th>
        <th>Sub</th>
        <th>Type</th>
        <th>Address</th>
        <th>Subscription</th>
        <th>First joined</th>
        <th>Notes</th>
    </tr>
    {% for contact in contacts.object_list %}
    <tr>
        <td>
          {% if contact.organization_name %}{% endif %}
          <a href="{% url 'subscribers.contacts.show' contact.id %}">
            {% if contact.organization_name %}
              {{ contact.organization_name }}
            {% else %}
              {% firstof contact.last_name "[Last name missing]" %},
              {% firstof contact.first_name "[First name missing]" %}
            {% endif %}
          </a>
        </td>
        <td>{{ contact.id }}</td>
        <td>{{ contact.get_type_display }}</td>
        <td>
          {% if contact.current_address.prison.subject_of_litigation %}
          <div class='label' style='margin: 0.4em'>Subject of Litigation</div>
          {% endif %}
          {% if contact.current_address.prison.monitoring %}
          <div class='label' style='margin: 0.4em'>Monitoring</div>
          {% endif %}
          {% if contact.current_address.prison.investigating %}
          <div class='label' style='margin: 0.4em'>Investigating</div>
          {% endif %}
          <div class='address'>{{ contact.format_address }}</div>
        </td>
        <td>
          {{ contact.get_expiration_string }}
          {% if contact.issues_remaining > 0 %}
            ({{ contact.issues_remaining }} left)
          {% endif %}
          {% if contact.deceased %}<span class='label'>Deceased</span>{% endif %}
          {% if contact.lost_contact %}<span class='label'>Lost contact</span>{% endif %}
          {% if contact.mailingstay_set.stayed.exists %}<span class='label'>Mailing stay</span>{% endif %}
        </td>
        <td>
          {% if contact.created %}
            {{ contact.created|naturalday }}
          {% else %}
            [Unknown]
          {% endif %}
        </td>
        <td>
          {% for note in contact.note_set.all %}
            <p class="note note-in-table">{{ note.text }}</p>
          {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

