<form id='contact_search' class='contact-search' method='get' action=''>

    <!-- fields for various pages that filter in additional ways -->
    <input type='hidden' name='mailing_type' value='{{ show_mailing_type }}' />
    <input type='hidden' name='rel' value='{{ show_rel }}' />
    <input type='hidden' name='contacts_filter' value='{{ contacts_filter }}' />
    <input type='hidden' name='path' value='{{ path }}' />
    <!-- / -->

    {{ form.name }}
    {{ form.account_number }}
    {{ form.prisoner_number }}
    {{ form.prison.label }}
    {% if form.prison.errors %}<div class='error'>{{ form.prison.errors }}</div>{% endif %}
    {{ form.prison }}
    <script type='text/javascript'>
      document.getElementById("id_name").placeholder = "Name";
      document.getElementById("id_account_number").placeholder = "Acct #";
      document.getElementById("id_prisoner_number").placeholder = "Prisoner #";
    </script>
    <div class='extra' style='display: none;'>
        <table>
            <tr>
                <th>{{ form.first_name.label }},
                    {{ form.middle_name.label }},
                    {{ form.last_name.label }}</th>

                <td>
                    {% if form.first_name.errors or form.middle_name.errors or form.last_name.errors %}
                      <div class='error'>
                        {{ form.first_name.errors }}
                        {{ form.middle_name.errors }}
                        {{ form.last_name.errors }}
                      </div>
                    {% endif %}
                    {{ form.first_name }}
                    {{ form.middle_name }}
                    {{ form.last_name }}
                </td>
            </tr><tr>
                <th>{{ form.email.label }}</th>
                <td>
                    {% if form.email.errors %}
                      <div class='error'>{{ form.email.errors }}</div>
                    {% endif %}
                    {{ form.email }}
                </td>
            </tr><tr>
                <th>{{ form.has_been_censored.label }}</th>
                <td>
                    {% if form.has_been_censored.errors %}
                      <div class='error'>{{ form.has_been_censored.errors }}</div>
                    {% endif %}
                    {{ form.has_been_censored }}
                </td>
            </tr><tr>
                <th>{{ form.contact_type.label }}</th>
                <td>
                    {% if form.contact_type.errors %}
                      <div class='error'>{{ form.contact_type.errors }}</div>
                    {% endif %}
                    {{ form.contact_type }}
                </td>
            </tr><tr>
                <th>{{ form.source.label }}</th>
                <td>
                    {% if form.source.errors %}
                      <div class='error'>{{ form.source.errors }}</div>
                    {% endif %}{{ form.source }}
                </td>
            </tr><tr>
                <th>{{ form.source_category.label }}</th>
                <td>
                    {% if form.source_category.errors %}
                      <div class='error'>{{ form.source_category.errors }}</div>
                    {% endif %}{{ form.source_category }}
                </td>
            </tr><tr>
                <th>{{ form.deceased.label }}</th>
                <td>
                    {% if form.deceased.errors %}
                      <div class='error'>{{ form.deceased.errors }}</div>
                    {% endif %} {{ form.deceased }}
                </td>
            </tr></tr>
            <!--*********************************************************-->
                <th colspan=2' style='text-align: center; background-color: #ccc; padding: 0.6em;'>Address</th>
            </tr><tr>
                <th>{{ form.search_addresses_current_on_date.label }}</th>
                <td>
                    {% if form.search_address_current_on_date.errors %}
                      <div class='error'>
                        {{ form.search_address_current_on_date.errors }}
                      </div>
                    {% endif %}{{ form.search_addresses_current_on_date }}
                    <span class='subtle'>
                      Leave blank to search across all dates &ndash; that is,
                      find all contacts who've ever lived there.
                    </span>
                </td>
            </tr><tr>
                <th>{{ form.state.label }}</th>
                <td>
                    {% if form.state.errors %}
                      <div class='error'>{{ form.state.errors }}</div>
                    {% endif %}{{ form.state }}
                </td>
            </tr><tr>
                <th>{{ form.zip.label }}</th>
                <td>
                    {% if form.zip.errors %}
                      <div class='error'>{{ form.zip.errors }}</div>
                    {% endif %}{{ form.zip }}
                </td>
            </tr><tr>
                <th>{{ form.prison_type.label }}</th>
                <td>
                    {% if form.prison_type.errors %}
                      <div class='error'>{{ form.prison_type.errors }}</div>
                    {% endif %}{{ form.prison_type }}
                </td>
            </tr><tr>
                <th>{{ form.prison_administrator.label }}</th>
                <td>
                    {% if form.prison_administrator.errors %}
                      <div class='error'>{{ form.prison_administrator.errors }}</div>
                    {% endif %}{{ form.prison_administrator }}
                </td>
            </tr><tr>
                <th>{{ form.subject_of_litigation.label }}</th>
                <td>
                    {% if form.subject_of_litigation.errors %}
                      <div class='error'>{{ form.subject_of_litigation.errors }}</div>
                    {% endif %}{{ form.subject_of_litigation }}
                </td>
            </tr><tr>
                <th>{{ form.monitoring.label }}</th>
                <td>
                    {% if form.monitoring.errors %}
                      <div class='error'>{{ form.monitoring.errors }}</div>
                    {% endif %}{{ form.monitoring }}
                </td>
            </tr><tr>
                <th>{{ form.investigating.label }}</th>
                <td>
                    {% if form.investigating.errors %}
                      <div class='error'>{{ form.investigating.errors }}</div>
                    {% endif %}{{ form.investigating }}
                </td>
            </tr><tr>
                <th>{{ form.lost_contact.label }}</th>
                <td>
                    {% if form.lost_contact.errors %}
                      <div class='error'>{{ form.lost_contact.errors }}</div>
                    {% endif %} {{ form.lost_contact }}
                </td>
            </tr><tr>
            <!--*********************************************************-->
                <th colspan=2' style='text-align: center; background-color: #ccc; padding: 0.6em;'>Subscription</th>
            </tr><tr>
                <th>{{ form.is_donor.label }}</th>
                <td>
                    {% if form.is_donor.errors %}
                      <div class='error'>{{ form.is_donor.errors }}</div>
                    {% endif %} {{ form.is_donor }}
                </td>
            </tr><tr>
                <th>{{ form.currently_subscribing.label }}</th>
                <td>
                    {% if form.currently_subscribing.errors %}
                      <div class='error'>{{ form.currently_subscribing.errors }}</div>
                    {% endif %} {{ form.currently_subscribing }}
                </td>
            </tr><tr>
                <th>{{ form.with_perpetual_subscriptions.label }}</th>
                <td>
                    {% if form.with_perpetual_subscriptions.errors %}
                      <div class='error'>
                        {{ form.with_perpetual_subscriptions.errors }}
                      </div>
                    {% endif %} {{ form.with_perpetual_subscriptions }}
                </td>
            </tr><tr>
                <th>{{ form.subscription_source.label }}</th>
                <td>
                    {% if form.subscription_source.errors %}
                      <div class='error'>{{ form.subscription_source.errors }}</div>
                    {% endif %} {{ form.subscription_source }}
                </td>
            </tr><tr>
                <th>Tag</th>
                <td>{{ form.tag_search }}</td>
            </tr><tr>
                <th>{{ form.sort.label }}</th>
                <td>
                    {% if form.sort.errors %}
                      <div class='error'>{{ form.sort.errors }}</div>
                    {% endif %}
                    {{ form.sort }}
                    {% comment %}<!-- removed for performance
                      <label>
                        {{ form.exclude_missing_names }}
                        {{ form.exclude_missing_names.label }}
                      </label>
                      <label>
                        {{ form.exclude_addressless }}
                        {{ form.exclude_addressless.label }}
                      </label>
                 -->{% endcomment %}
                </td>
            </tr>
        </table>
    </div>
    <input type='submit' class='flatbutton' value='Search &gt;' />
    <a href='#' class='toggle_advanced'>advanced search</a>
</form>
