<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Prisoner Number</th>
    <th>Address</th>
    <th>Copies</th>
    <th># issues</th>
    <th>Order ID</th>
    <th>Order Item ID</th>
    <th></th>
  </tr>
  {% for sub in subscriptions %}
    <tr>
      <td>{{sub.contact.first_name}}</td>
      <td>{{sub.contact.middle_name}}</td>
      <td>{{sub.contact.last_name}}</td>
      {% for cad in sub.contact.contactaddress_set.all %}
        {% if cad.is_current %}
          <td>
            {{cad.prisoner_number}}
          </td>
          <td>
            <pre>{{cad.address.format_address}}</pre>
          </td>
        {% endif %}
      {% endfor %}
      <td>{{sub.contact.copies}}</td>
      <td>{{sub.number_of_issues}}</td>
      <td>{{sub.source_order_id}}</td>
      <td>{{sub.source_order_item_id}}</td>
      <td>{{sub.source_order_product_name}}</td>
      <td>
        <a
          href='{% url "subscribers.contacts.show" sub.contact.id %}'
          target='_blank'
          rel='noopener noreferrer'
        >
          Edit
        </a>
      </td>
    </tr>
  {% endfor %}
</table>              
