<div class='notes-section'>
  {% for note in notes %}
    <div class='note'>
      <div class='byline'>
        <span class='date'>{{ note.created }}</span>
        <span class='author'>by <b>{{ note.author }}</b></span>
        {% if perms.subscribers.delete_note %}
          <span class='delete'>
            <a href="{% url 'subscribers.delete_note' note.id %}" class='confirm'>delete</a>
          </span>
        {% endif %}
        <a href='#' class='edit-note'
           data-edit-url="{% url 'subscribers.list_notes' contact.id note.id %}"
          >edit</a>
      </div>
      <div class='text'>{{ note.text|linebreaks }}</div>
    </div>
  {% endfor %}
  <a class='button' href='#'
    onclick='$(this).next().toggle();'>Add Note</a>
  <form class='edit-note-form' method='post'
        action="{% url 'subscribers.list_notes' contact.id %}"
        style='display: none;'>{% csrf_token %}
    <p><textarea name='text' rows='5' cols='30'></textarea></p>
    <input type='submit' value='save' class='flatbutton blue' />
  </form>
</div>
