Showing results {{ page.start_index }} &ndash; {{ page.end_index }} of <span class='paginator-count'>{{ page.paginator.count }}</span>
{% if page.paginator.num_pages > 1 %}
<div class='pagelist'>
    Page:
    {% if page.has_previous %}
        <a href='{{ page.querystr }}page={{ page.previous_page_number }}'>&laquo;</a>
    {% endif %}
    {% for show_link, p in page.pageiter %}
        {% if show_link and p != page.number %}
          <a href='{{ page.querystr }}page={{p}}'>{{p}}</a>
        {% else %}
            <span class='current'>{{ p }}</span>
        {% endif %}
    {% endfor %}
    {% if page.has_next %}
        <a href='{{ page.querystr }}page={{ page.next_page_number }}'>&raquo;</a>
    {% endif %}
</div>
{% endif %}
