<!DOCTYPE html> {% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %} - {{ subscriber_database_header }}</title>
        <link rel='stylesheet' href="{% static 'js/libs/select2-release-3.2/select2.css' %}" />
        <link rel='stylesheet' href="{% static 'js/libs/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css' %}" />
        <link rel='stylesheet' href="{% static 'js/libs/jquery-tagit/jquery.tagit.css' %}" />
        <link rel='stylesheet' href="{% static 'css/style.css' %}" />
        <link rel='stylesheet' href="{% static subscriber_database_styles %}" />
    </head>
    <body>
        <header>
          <h1>{{ subscriber_database_header }}</h1>
        </header>

        {% block nav %}
            <nav>
            <ul>
                <li class='{% block contacts_nav_class %}{% endblock %}'>
                    <a href="{% url 'subscribers.contacts' %}">Contacts</a>
                </li>
                <li class='{% block mailings_nav_class %}{% endblock %}'>
                    <a href="{% url 'subscribers.issues.list' %}">Mailings</a>
                </li>
                <li class='{% block sharing_nav_class %}{% endblock %}'>
                    <a href="{% url 'subscribers.sharing' %}">Sharing</a>
                </li>
                <li class='{% block stats_nav_class %}{% endblock %}'>
                    <a href="{% url 'subscribers.stats' %}">Stats</a>
                </li>
                <li>
                  {% block nav_search %}
                    <form method='GET' action='/contacts/' class='contact-search'>
                      <input type='text' placeholder='Name'
                             name='name' id='id_name'>
                      <input type='text' placeholder='Acct #'
                             name='account_number' id='id_account_number'>
                      <input type='text' placeholder='Prisoner #'
                             name='prisoner_number' id='id_prisoner_number'>
                      <input class='flatbutton' type='submit' value='Search&gt;'>
                    </form>
                  {% endblock %}
            </ul>
            </nav>
        {% endblock %}
        {% block auth %}
            <div id='auth'>
                {% if user.is_authenticated %}
                  Welcome, <b>{{ user }}</b> &#9660;
                  <div class='menu'>
                    <a href="{% url 'auth_logout' %}">logout</a>
                    <br />
                    <a href="{% url 'admin:password_change' %}">change password</a>
                    {% if user.is_staff %}
                    <br />
                      <a href='/admin/'>administration</a>
                    {% endif %}
                  </div>
                {% endif %}
            </div>
        {% endblock %}
        <div id='subnav'>{% block subnav %}{% endblock %}</div>
        {% block content %}{% endblock %}
         <script type='text/javascript' src="{% static 'js/libs/jquery-1.8.3.min.js' %}"></script>
         <script type='text/javascript'>
            $(document).ajaxSend(function(event, xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                function sameOrigin(url) {
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }
                function safeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('{{CSRF_COOKIE_NAME}}'));
                }
            });
         </script>
         <script type='text/javascript' src="{% static 'js/libs/jquery.form.js' %}"></script>
         <script type='text/javascript' src="{% static 'js/libs/date.js' %}"></script>
         <script type='text/javascript' src="{% static 'js/libs/select2-release-3.2/select2.min.js' %}"></script>
         <script type='text/javascript' src="{% static 'js/libs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
         <script type='text/javascript' src="{% static 'js/libs/jquery-tagit/tag-it-modified.js' %}"></script>
         <script type='text/javascript' src="{% static 'js/script.js' %}"></script>
         {% block scripts %}{% endblock %}
    </body>
</html>
