{% extends "contacts/base.html" %}

{% block title %}Done - Import Spreadsheet{% endblock %}
{% block contacts_import_subscriber_class %}active{% endblock %}

{% block content %}
<h2>Import results</h2>

{% if existing_subscriptions %}
  <h3>These subscriptions already existed and were not re-imported.</h3>
  {% include "_import_result_table.html" with subscriptions=existing_subscriptions%}
{% endif %}


{% if new_subscriptions %}
  <h3>These subscriptions were created.</h3>
  {% include "_import_result_table.html" with subscriptions=new_subscriptions%}
{% endif %}

{% endblock %}
