{% extends "contacts/base.html" %}

{% block title %}Import Spreadsheet{% endblock %}
{% block contacts_import_subscriber_class %}active{% endblock %}

{% block content %}
<h2>Upload spreadsheet of new subscribers from website</h2>

<form
  method="post"
  action="{% url "subscribers.import_subscriber_spreadsheet" %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}

<table>
  <tr>
    <td>
      <label for="file">Spreadsheet:</label>
    </td>
  </tr>
  <tr>
    <td>
      <input
        type="file"
        name="file"
        id="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        required
      />
    </td>
  </tr>
</table>

  <input type="submit" value="Upload" />
</form>

{% endblock %}
