<table>
  <tr>
    <th>Contact</th><th>Request Type</th><th>Response Type</th><th>Date</th>
  </tr>
  {% for request in requests %}
  <tr>
    <td>
      <a href='{{ request.contact.get_absolute_url }}'>{{ request.contact.get_full_name }}</a>
    </td>
    <td>{{ request.request_type }}</td>
    <td>{{ request.response_type }}</td>
    <td>{{ request.date|date }}</td>
  </tr>
  {% endfor %}
</table>
