<table>
  <tr><th>Date</th><th>Type</th><th>Sender</th><th>Count</th><th>Links</th><td></td></tr>
  {% for log in logs %}
  <tr>
    <td>{{ log.created|date }}</td>
    <td>
      {{ log.type }}
      {{ log.note }}
      {% if log.type.type == "Issue" %}
        {{ log.mailings.all.0.issue }}
      {% endif %}
    </td>
    <td>{{ log.user }}</td>
    <td>{{ log.mailings.count }}</td>
    <td>
      <a href='{{ log.get_absolute_url }}?pdf=1'>labels</a>,
      <a href='{{ log.get_absolute_url }}?pdf=1&subdetails=1'>(w/ subs)</a>,
      <a href='{{ log.get_absolute_url }}?xlsx=1'>xlsx</a>,
      <a href='{{ log.get_absolute_url }}'>show</a>
    </td>
    <td>
      <form method='post' action="{% url 'subscribers.mailinglogs.delete' log.id %}"
          class='confirm'>{% csrf_token %}
        <input class='flatbutton delete' type='submit' value='Mark Unsent' />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
