{% extends "base.html" %}
{% load humanize %}
{% block title %}Mailings{% endblock %}
{% block mailings_nav_class %}active{% endblock %}
{% block subnav %}
    <ul>
        <li>Mailings:</li>
        <li class='{% block mailings_issues_class %}{% endblock %}'><a href="{% url 'subscribers.issues.list' %}">Issues</a> | </li>
        <li class='{% block mailings_needed_class %}{% endblock %}'><a href="{% url 'subscribers.mailings.needed' %}">Needed</a> |</li>
        <li class='{% block mailings_sent_class %}{% endblock %}'><a href="{% url 'subscribers.mailinglogs.list' %}">Sent</a> |</li>
        <li class='{% block mailings_instiution_labels_class %}{% endblock %}'>
          <a href="{% url 'subscribers.mailings.institution_labels' %}">
            <small>Institution labels</small>
          </a>
        </li>
    </ul>
{% endblock %}
