{% extends "mailings/base.html" %}
{% block mailings_nav_class %}active{% endblock %}
{% block title %}Create Mailing from Search{% endblock %}

{% block content %}

<h1>Create a mailing from the search results</h1>

<form method='POST' action=''>{% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type='submit' class='flatbutton blue' value='Create Mailing' />
      </td>
    </tr>
  </table>
</form>

{% with contacts as page %}
  {% include "_pagination.html" %}
  <table>
  {% for contact in page.object_list %}
      <tr><td><a href="{% url 'subscribers.contacts.show' contact.pk %}">{{ contact.show_name }}</a>
              <div class='address'>{{ contact.format_address }}</div></td></tr>
  {% endfor %}
  </table>
  {% include "_pagination.html" %}
{% endwith %}

{% endblock %}

