{% extends "mailings/base.html" %}

{% block mailings_nav_class %}active{% endblock %}
{% block mailings_institution_labels_class %}active{% endblock %}
{% block title %}Institution Labels{% endblock %}

{% block content %}

<h1>Download labels for all institutions</h1>
<p>Produce a set of labels for each institution, optionally with the prefix specified.</p>

<form method='POST' action=''>{% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type='submit' class='flatbutton blue' value='Download Labels (PDF)' />
      </td>
    </tr>
  </table>
</form>

<a class='flatbutton' href="{% url 'subscribers.mailings.institution_spreadsheet' %}">CSV Spreadsheet with all institution addresses</a>
{% endblock %}
