{% extends "mailings/base.html" %}
{% block title %}Sent mail{% endblock %}

{% block mailings_sent_class %}active{% endblock %}

{% block content %}
<h1>Sent mail</h1>

{% include "_pagination.html" with page=page %}

<table>
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Note</th>
    <th>Count</th>
    <th>Created by</th>
  {% include "mailings/_log_table.html" with logs=page.object_list %}
</table>

{% include "_pagination.html" with page=page %}
{% endblock %}

