{% extends "mailings/base.html" %}
{% load mailings_path static %}

{% block mailings_nav_class %}active{% endblock %}
{% block mailings_needed_class %}active{% endblock %}

{% block title %}Mailings{% endblock %}

{% block content %}

{% if is_latest %}
  <h1>Needed mail</h1>
{% else %}
  ^ <a href="{% url 'subscribers.mailings.needed' %}">Latest issue</a>
  <h2>Back issue:</h2>
{% endif %}
<h2>{{ issue.date|date }}</h2>

<div style='float: right;'>
  <h2>Recently Sent</h2>
  {% include "mailings/_log_table.html" %}
  <a href="{% url 'subscribers.mailinglogs.list' %}?page=2">More recently sent mailings</a>
</div>

<table>
  <tr>
    <th>Type</th><th>Needed</th><th>Enqueued</th><th>Extra</th>
  </tr>

  <!-- Notices -->
  {% for mg in mailings %}
    {% if mg.needed.count or mg.unreachable.count or mg.enqueued.count or mg.sent.count %}
    <tr>
      <th>{{ mg.name }}</th>
      <td>
        {% if mg.needed.count %}
          <a href='?path={{ mg.needed.code }}'>{{ mg.needed.count }}</a>
          {% if mg.needed.action %}
            <form method='post' action='?path={{ mg.needed.code }}'>{% csrf_token %}
              <input type='submit' name='action' value='{{ mg.needed.action }}'
                     onclick='this.className = "flatbutton loading";'
                     class='flatbutton' />
            </form>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if mg.enqueued.count %}
          <a href='?path={{ mg.enqueued.code }}'>{{ mg.enqueued.count }}</a>
          {% if mg.enqueued.action %}
            <form method='post' action='?path={{ mg.enqueued.code }}'>{% csrf_token %}
              <input type='submit' name='action' value='{{ mg.enqueued.action }}'
                     onclick='this.className = "flatbutton loading";'
                     class='flatbutton' />
            </form>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if mg.unreachable.count %}
          Unreachable: 
          <a href='?path={{ mg.unreachable.code }}&lost_contact=1'>{{ mg.unreachable.count }}</a>
        {% endif %}
        {% if mg.sent.count %}
          Sent:
          <a href='?path={{ mg.sent.code }}'>{{ mg.sent.count }}</a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>

{% if page %}
  <h2>{{ matched_mailing }}</h2>
  {% include "_contact_search_form.html" with form=contact_search_form %}
  <div class='recipients'>
      <img class='loading' src="{% static 'img/spinner.gif' %}" style='display: none;' alt='loading...' />
      {% include "_pagination.html" %}
      <table>
      {% for contact in page.object_list %}
          <tr><td><a href="{% url 'subscribers.contacts.show' contact.pk %}">{{ contact.show_name }}</a>
                  <div class='address'>{{ contact.format_address }}</div></td></tr>
      {% endfor %}
      </table>
      {% include "_pagination.html" %}
  </div>
{% elif inquiries %}
  {% include "_pagination.html" with page=inquiries %}
  {% include "mailings/_inquiry_table.html" with requests=inquiries.object_list %}
  {% include "_pagination.html" with page=inquiries %}
{% endif %}

{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  instasearch($("#contact_search"), "div.recipients");
</script>
{% endblock %}
