{% extends "mailings/base.html" %}
{% load get_item static %}

{% block title %}{{ log.type }}: {{ log.created|date }}{% endblock %}

{% block content %}
  <h1>Mailing &ndash; {{ log.type }}: {{ log.created|date }}</h1>


  <h2>
  <a style='background-color: #eec;' href='?pdf=1'>&dArr; Label PDF</a>
  <a style='background-color: #eec;' href='?xlsx=1'>&dArr; XLSX</a>
  <a class='checkcount' href='{{ contacts.querystr }}?pdf=1&subdetails=1' style='background-color: #eec'>&dArr; Labels with sub details</a>
  </h2>
  <p>
  Number of mailings (with copies): {{ log.mailings.count }}<br />
  Number of distinct contacts: {{ page.paginator.count }}
  </p>


  <blockquote>{{ log.note }}</blockquote>

  <h2>Contacts</h2>

  {% include "_contact_search_form.html" with form=form %}

  <div class='contacts'>
    {% include "_pagination.html" %}
    <img class='loading' src="{% static 'img/spinner.gif' %}" style='display: none;' alt='loading...' />
    <table>
      <tr>
        <th>Contact</th>
        <th>Type</th>
        <th>Sent</th>
      </tr>
      {% for contact in page.object_list %}
        {% for mailing in contact_id_to_mailings|get_item:contact.id %}
          <tr>
            <td>
              {% ifchanged contact %}
              <a href="{% url 'subscribers.contacts.show' contact.pk %}">{{ contact.show_name }}</a>
              <div class='address'>{{ contact.format_address }}</div>
              {% endifchanged %}
            </td>
            <td>{{ mailing.type }}</td>
            <td>{{ mailing.sent|date }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
    {% include "_pagination.html" %}
  </div>
{% endblock %}

{% block scripts %}
  <script type='text/javascript'>
    instasearch($("#contact_search"), "div.contacts");
  </script>
{% endblock %}
