/* custom style for pln subscriber database */
header h1 {
    display: inline-block;
    padding: 15px;
    margin-top: 0;
    background-color: #ff4f14;
    color: #eee;
}

/* custom style for pln subscriber database admin */
#header, #branding h1, #branding h1 a:link, #branding h1 a:visited {
    background: #ff4f14;
    color: #eee;
}