body {
    font-family: "helvetica neue", arial, helvetica, sans-serif ;
    font-size: 10pt;
    line-height: 1.5em;
    text-align: left;
}
a,a:link {
    color: #09f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #3df;
}
nav {
    margin-bottom: 1em;
}
nav ul, #subnav ul {
    margin: 0;
    padding: 0;
}

nav li, #subnav li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav li a:link, nav li a:visited, a.button {
    font-size: 10pt;
    color: black;
    text-decoration: none;
    margin: 0.1em;
    padding: 0.5em;
    background-color: #f5f2eb;
    color: #666 !important;
}
nav li a:hover, nav li.active a, a.button:hover {
    background-color: green;
    color: white !important;
}
#subnav li a, #subnav a:visited {
    font-weight: bold;
    font-size: larger;
    color: #09f;
}
#subnav li a:hover, #subnav li.active a {
    color: #000;
    text-decoration: none;
}
#subnav {
    margin-bottom: 1em;
}
#auth {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
}
#auth .menu {
    display: none;
    background-color: white;
    border: 1px solid black;
    border-top: 0px;
}
#auth:hover .menu {
    display: block;
}
select {    
    background-color: #f5f2eb;
    border: none;
}

input.flatbutton, input.delete {
    background-color: #D3D0C9;
    border: none;
    padding: 0.3em;
    cursor: pointer;
}
input.flatbutton.blue {
    background-color: #09f;
    color: white;
}
input.flatbutton.blue:hover {
    background-color: #06a;
}
input.loading {
    background-image: url("../img/spinner.gif");
    background-repeat: no-repeat;
}
input[type=text] {
    border: 1px solid #ccc;
    padding: 0.3em;
}
input.flatbutton:hover {
    background-color: green;
    color: white;
}
a.delete, input.delete {
    background-color: #ffeeee;
    color: #aaa !important;
}
a.delete:hover, input.delete:hover {
    background-color: #FF0000;
    color: white;
}
input.delete {
    color: #555;
}

table, table td {
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #eee;
    padding: 0.2em;
    line-height: 1em;
}
table th {
    background-color: #eee;
    border: 1px solid white;
}
tr.current {
    background-color: #ffe;
}
tr.censored {
    background-color: #fdd;
}
tr.unsent {
    background-color: #eff;
}
.address {
    white-space: pre;
    font-family: monospace;
    font-size: smaller;
}
table.noborder, table.noborder td {
    border: none;
}

.column1, .column2 {
    width: 45%;
    margin: 0;
    padding: 0;
    float: left;
}

.date-feedback {
    font-size: smaller;
    color: #600;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    border: 1px solid white;
    background-color: #f00;
    color: white;
}
.helptext {
    color: #999;
}
a.confirm {
    color: #ccc;
}
a.confirm:hover {
    background-color: #f00;
    color: white;
}

/* Contact search form */
.contact-search #id_zip {
    width: 50px;
}
.contact-search #id_name {
    width: 100px;
}
.contact-search #id_account_number {
    width: 50px;
}
.contact-search #id_prisoner_number {
    width: 75px;
}
.contact-search .changed {
    box-shadow: 0px 0px 10px #f90;
}


.note {
    background-color: #fed;
}
.note .byline {
    background-color: #eee;
}
.note-in-table {
    max-width: 400px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.subtle {
    color: #999;
}
  
.label {
    background-color: #a00;
    color: white;
    text-shadow: black 1px 1px 1px;
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: 80%;
    border-radius: 5px;
    line-height: 1.2em;
    white-space: nowrap;
}
tr.current {
    background-color: #ffe;
}
ul.legend {
    background: rgba(255, 255, 255, 0.8);
}

ul.questions li {
    padding-top: 2em;
}

p.narrow {
    max-width: 44em;
}
