{% if contacts %}
<h2>Contacts with similar names</h2>
<table>
    <tr>
        <th>Contact</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>
            <a href="{% url 'subscribers.contacts.show' contact.id %}">{{ contact.show_name }}</a>
            <div class='address'>{{ contact.format_address }}</div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
