{% extends "contacts/base.html" %}
{% block title %}Add contact{% endblock %}
{% block contacts_add_class %}active{% endblock %}
{% block content %}
<h1>Add contact</h1>

<div class='column1'>
<form method='post' action=''>{% csrf_token %}
    <table>
        {{ contact_form.as_table }}
    </table>

    <h3>Address</h3>
    <table class='contactaddress'>
        {{ contactaddress_form.as_table }}
    </table>
    <table class='plainaddress'>
        {{ address_form.as_table }}
    </table>

    <h3>Print Subscription (optional)</h3>
    <table class='subscription'>
        {{ subscription_form.as_table }}
    </table>

    <h3>Other Purchase (optional)</h3>
    <table class='otherpurchase'>
        {{ other_purchase_form.as_table }}
    </table>

    <input type='submit' value='Add contact' class='flatbutton blue'/> 
</form>
</div>
<div class='column2'>
    <div id='similar'></div>
</diV>
{% endblock %}
{% block scripts %}
    <script type='text/javascript'>
        $("#id_type").on('change', function() {
            var show,hide; 
            if ($(this).val() == "prisoner") {
                show = "table.contactaddress";
                hide = "table.plainaddress";
            } else {
                show = "table.plainaddress";
                hide = "table.contactaddress";
            }
            $(show).show();
            $(hide).hide();
        }).change();
        $("#id_subscription-start_date, #id_otherpurchase-date").datepicker({dateFormat: "yy-mm-dd"});
        var fuzzyIndex = 0;
        $("#id_first_name, #id_middle_name, #id_last_name, #id_prisoner_number").on("change keyup", function() {
                fuzzyIndex += 1;
                $.ajax({
                    url: "/contacts/fuzzy", 
                    type: 'GET',
                    data: {
                        first: $("#id_first_name").val(),
                        middle: $("#id_middle_name").val(),
                        last: $("#id_last_name").val(),
                        prisoner_number: $("#id_prisoner_number").val(),
                        index: fuzzyIndex
                    },
                    success: function(data) {
                      if (data.index == fuzzyIndex) {
                        $("#similar").html(data.html);
                      }
                    },
                    error: function() {
                        console.log("Ajax error");
                        console.log(arguments);
                    }
                });
        });
        $("#id_name").ready(function() {
            if ($("#id_name").val()) { $("#id_name").change(); }
        });
        $("#id_subscription-payer").select2({
            placeholder: "Add a payer",
            allowClear: true,
            width: "700px",
            ajax: {
                url: "{% url 'subscribers.contacts.json' %}",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term,
                        page: page,
                        per_page: 50
                    }
                },
                results: function (data, page) {
                    console.log(data);
                    var more = (page * 50) < data.count;
                    return {
                        results: data.results,
                        more: more
                    }
                }
            }
        });
    </script>
{% endblock %}
