{% extends "base.html" %}
{% load humanize %}
{% block title %}Contacts{% endblock %}
{% block contacts_nav_class %}active{% endblock %}
{% block subnav %}
    <ul>
        <li>Contacts:</li>
        <li class='{% block contacts_search_class %}{% endblock %}'><a href="{% url 'subscribers.contacts' %}">Search</a> | </li>
        <li class='{% block contacts_add_class %}{% endblock %}'><a href="{% url 'subscribers.contacts.add' %}">Add new contact</a> | </li>
        <li class='{% block contacts_donorbatches_class %}{% endblock %}'><a href="{% url 'subscribers.contacts.donor_batches' %}">Donors</a> | </li>
        <li class='{% block contacts_import_subscriber_class %}{% endblock %}'><a href="{% url 'subscribers.import_subscriber_spreadsheet' %}">Import spreadsheet</a></li>
    </ul>
{% endblock %}
