{% extends "contacts/base.html" %}
{% load humanize %}
{% block title %}Donor Appeals{% endblock %}
{% block contacts_donorbatches_class %}active{% endblock %}
{% block content %}

<h2>New Donor Appeal</h2>
<form method='post' action=''>{% csrf_token %}
  <table>
    <tr>
      <th>Exclude donors whom we've contacted<br /> since this date:</th>
      <td><input id='cutoff' type='text' name='no_contact_since' value='' class='needs-datepicker' />
        <span class='help-text'>Leave blank to include all donors.</span>
      </td>
    </tr>
    <tr><td></td><td class='count'>{{ contacts.count }} donors.</td></tr>
    <tr>
      <td></td>
      <td><input type='submit' value='Create appeal' class='flatbutton blue'/></td>
    </tr>
  </table>
</form>

<h2>Past donor appeals</h2>
<table>
  <tr><th>Date</th><th>Contacts</th></tr>
  {% for batch in batches %}
  <tr>
    <td>{{ batch.date|naturalday }}</td>
    <td>
      {{ batch.contact_set.count }}:
      <a href="{% url 'subscribers.contacts' %}?donor_batch_id={{ batch.pk }}&pdf=1">pdf</a>
      <a href="{% url 'subscribers.contacts' %}?donor_batch_id={{ batch.pk }}&xlsx=1">xlsx</a>
    </td>
    <td>{% if perms.subscribers.delete_donorbatch %}
      <a href="{% url 'subscribers.contacts.delete_donor_batch' batch.pk %}" class='confirm'>delete</a>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr><td colspan='2'>No appeals yet.</td></tr>
  {% endfor %}
</table>

{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  $("#cutoff").on("change", function(event) {
    $(".count").html(""); 
    var val = $(event.currentTarget).val();
    if (/\d\d\d\d-\d\d-\d\d/.test(val) || val == '') {
      $.ajax({
        url: "{% url 'subscribers.contacts.donor_batch_count' %}",
        data: { 'no_contact_since': val },
        type: 'GET',
        success: function(data) {
          $(".count").html(data.count + " donors.");
        },
        error: function(data) {
          console.log("AJAX Error");
          console.log(arguments);
          console.log(data);
        }
      });
    }
  });
</script>
{% endblock %}
