{% extends "contacts/base.html" %}

{% load humanize static %}

{% block nav_search %}{% endblock %}
{% block contacts_search_class %}active{% endblock %}

{% block content %}
    {% include "_contact_search_form.html" %}

    <div class='contacts'>
        <img class='loading' src="{% static 'img/spinner.gif' %}" style='display: none;' alt='loading...' />
        {% if contacts.paginator.count > 0 %}
            {% with contacts as page %}{% include "_pagination.html" %}{% endwith %}
            <a class='checkcount' href='{{ contacts.querystr }}xlsx=1' style='background-color: #eec'>&dArr; Download XLSX</a>
            <a class='checkcount' href='{{ contacts.querystr }}pdf=1' style='background-color: #eec'>&dArr; Download Labels</a>
            <a class='checkcount' href='{{ contacts.querystr }}pdf=1&subdetails=1' style='background-color: #eec'>&dArr; Labels with sub details</a>
            <a href='{{ contacts.querystr }}mailing=1' style='background-color: #eec'>Create mailing &rArr;</a>
            {% include "_contact_table.html" %}
            {% with contacts as page %}{% include "_pagination.html" %}{% endwith %}
        {% else %}
            No results.
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
    instasearch("#contact_search", "div.contacts");
</script>
{% endblock %}
