{% extends "contacts/base.html" %}
{% load humanize %}

{% block title %}{{ contact.show_name }}{% endblock %}

{% block content %}
<form id='goto'>
  Jump to contact: <input placeholder='Subscriber #' type='text' name='subscriber_number' style='width: 100px;' /><input type='submit' class='flatbutton' value='Go&gt;' />
</form>
<table class='noborder'>
    <tr>
      <td>
        <h1 style='float: left;'>{{ contact.show_name }}</h1>
        {% if contact.deceased %}<span class='label'>Deceased</span>{% endif %}
        {% if contact.lost_contact %}<span class='label'>Lost contact</span>{% endif %}
        {% if contact.mailingstay_set.stayed.exists %}<span class='label'>Mailing stay</span>{% endif %}
      </td>
      <td><a  class='button' id='edit' href='#'>Edit</a></td>
    </tr>
</table>
<div class='column1'>
    <form method='post' action='' id='edit_form'
        {% if not contact_form.errors %}style='display: none;'{% endif %}>{% csrf_token %}
        <table class='contact-form'>
            {{ contact_form.as_table }}
        </table>
        <input type='submit' name='edit_contact' class='flatbutton blue' value='Save changes' />
    </form>
    <table class='contact'>
        <tr><th>Contact type:</th><td>{{ contact.get_type_display }}</td></tr>
        {% if contact.organization_name %}
            <tr><th>Organization name:</th><td>{{ contact.organization_name }}</td></tr> 
            {% if contact.name %}
            <tr><th>Care of:</th><td>{{ contact.name }}</td></tr>
            {% endif %}
        {% endif %}
        <tr><th>Account #</th><td>{{ contact.pk }}</td></tr>
        {% if contact.get_gender_display %}
          <tr><th>Gender</th><td>{{ contact.get_gender_display }}</td></tr>
        {% endif %}
        <tr><th>Email</th><td>
                {% if contact.email %}
                <a href='mailto:{{ contact.email }}'>{{ contact.email }}</a>
                {% else %}
                none
                {% endif %}
            </td></tr>
        <tr>
            <th>Copies</th>
            <td>{{ contact.copies }}</td>
        </tr>
    </table>
    {% with contact.contactaddress_set.all as cads %}
        <table class='noborder'>
            <tr><td><h2>Addresses</h2></td>
                <td><a class='button' href='#' id='add_contactaddress'>Add</a></td></tr>
        </table>
        <div id='contactaddress_form'
          {% if not contactaddress_form.errors and not address_form.errors %}
            style='display: none;'
          {% endif %}>
            <label>
              <input type='radio' name='address_type' value='prisoner'
                {% if contact.type == "prisoner" or contactaddress_form.errors %}
                  checked="checked"
                {% endif %}/>
              Prison address
            </label>

            <label>
              <input type='radio' name='address_type' value='non_prisoner'
                {% if contact.type != "prisoner" or address_form.errors %}
                  checked="checked"
                {% endif %}/>
              Non-prison address
            </label>
            <form method='post' action=''>{% csrf_token %}
              <table class='non-prisoner-address'>
                  {{ address_form.as_table }}
                  <tr>
                    <td></td>
                    <td>
                      <input type='submit' name='add_address'
                        class='flatbutton blue' value='Add new address' />
                    </td>
                  </tr>
              </table>
            </form>
            <form method='post' action=''>{% csrf_token %}
              <table class='prisoner-address'>
                  {{ contactaddress_form.as_table }}
                  <tr>
                    <td></td>
                    <td>
                      <input type='submit' name='add_contactaddress'
                        class='flatbutton blue' value='Add new address' />
                    </td>
                  </tr>
              </table>
            </form>
        </div>
        <table class='addresstable'>
            <tr>
                <th>Start date</th><th>End date</th><th>Address</th><td></td>
            </tr>
            {% for cad in cads %}
            <tr {% if cad.is_current %}class='current'{% endif %}>
                <td>{{ cad.start_date|naturalday }}</td>
                <td>{% if cad.end_date %}{{ cad.end_date|naturalday }}{% else %}Current{% endif %}</td>
                <td>
                  {% if cad.prison.subject_of_litigation %}
                    <div class='label' style='margin: 0.4em'>Subject of Litigation</div>
                  {% endif %}
                  {% if cad.prison.monitoring %}
                    <div class='label' style='margin: 0.4em'>Monitoring</div>
                  {% endif %}
                  {% if cad.prison.investigating %}
                    <div class='label' style='margin: 0.4em'>Investigating</div>
                  {% endif %}
                  <div class='address'>{{ cad.format_address }}</div>
                </td>
                {% if perms.subscriptions.delete_contactaddress %}
                  <td class='hover-delete'><a href="{% url 'subscribers.contactaddress.delete' cad.pk %}" class='confirm'>delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endwith %}
    {% with contact.subscription_set.all as subscriptions %}
        <table class='noborder'>
            <tr><td><h2>Print Subscriptions</h2></td>
                <td><a class='button' href='#' id='add_subscription'>Add</a></td></tr>
        </table>
        <form method='post' action=''
             {% if not subscription_form.errors %}style='display: none;'{% endif %}
            id='subscription_form'>{% csrf_token %}
            <table>
                {{ subscription_form.as_table }}
                <tr><td></td><td><input type='submit' name='add_subscription' class='flatbutton blue' value='Add new subscription' /></td></tr>
            </table>
        </form>

        Total issues remaining:
        {% if contact.issues_remaining == -1 %}
          Infinite
        {% else %}
          {{ contact.issues_remaining }}
        {% endif %}

        <table style='text-align: center;'>
            <tr>
                <th>Type</th>
                <th>Date added</th>
                <th>Number of issues</th>
                <th>Payer</th>
                <td></td>
            </tr>
            {% for subscription in subscriptions %}
            <tr {% if subscription.is_current %}class='current'{% endif %}>
                <td>{{ subscription.type }}</td>
                <td>{{ subscription.start_date|date }}</td>
                <td>
                    {% if subscription.number_of_issues == -1 %}
                      Perpetual
                    {% elif subscription.number_of_issues == 0 and subscription.end_date %}
                      {{ subscription.end_date|date }}
                    {% else %}
                      {{ subscription.number_of_issues }}
                    {% endif %}
                    {% if subscription.stop_reason %}
                    <span class='label'>{{ subscription.stop_reason }}<a href="{% url 'subscribers.subscription.restart' subscription.pk %}" class='confirm'>(X)</a></span><br />
                      <span style='color: green'>
                        {% if subscription.cancelled_issues == -1 %}
                          (perpetual sub cancelled)
                        {% elif subscription.cancelled_issues > 0 %}
                          ({{ subscription.cancelled_issues }} issues cancelled)
                        {% endif %}
                      </span>
                    {% endif %}
                    {% if subscription.number_of_issues != 0 and not subscription.stop_reason_id %}
                      <a style='float: right;' href="{% url 'subscribers.subscription.end_early' subscription.pk %}">(cancel)</a>
                    {% endif %}
                </td>
                <td>
                  {% if subscription.payer == subscription.contact %}
                      self
                  {% else %}
                      <span title='{{ subscription.payer }}'>
                          {{ subscription.payer.show_name }}
                      </span>
                  {% endif %}
                </td>
                {% if perms.subscribers.delete_subscription %}
                  <td><a href="{% url 'subscribers.subscription.delete' subscription.pk %}" class='confirm'>delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
          {% if payed_for %}
            <h2>Subscriptions Payed for</h2>
            <table style='text-align: center;'>
              <tr>
                <th>Recipient</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Issues remaining</th>
              </tr>
              {% for subscription in payed_for %}
                <tr>
                  <td><a href='{{ subscription.contact.get_absolute_url }}'>{{ subscription.contact.show_name }}</a></td>
                  <td>{{ subscription.start_date|naturalday }}</td>
                  <td>{{ subscription.end_date|naturalday }}</td>
                  <td>{% with subscription.issues_remaining as num_left %}
                          {% if num_left == -1 %}
                              Perpetual
                          {% else %}
                              {{ num_left }}
                          {% endif %}
                      {% endwith %}</td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
    {% endwith %}

    <table class='noborder'>
        <tr><td><h2>Other Purchases</h2></td>
            <td><a class='button' href='#' id='add_other_purchase'>Add</a></td></tr>
    </table>
    <form method='post' action=''
      {% if not other_purchase_form.errors %}style='display: none;'{% endif %}
      id='other_purchase_form'>
      {% csrf_token %}
      <table>
        {{ other_purchase_form.as_table }}
      </table>
      <p><input type='submit' name='add_other_purchase' value='Add purchase' class='flatbutton blue' /></p>
    </form>
    {% with contact.otherpurchase_set.all as other_purchases %}
      {% if other_purchases %}
        <table>
          <tr><th>Date</th><th>Type</th><th>Count</th><th>Total</th><th></th></tr>
          {% for other_purchase in other_purchases %}
            <tr>
              <td>{{ other_purchase.date|date }}</td>
              <td>{{ other_purchase.type }}</td>
              <td>{% firstof other_purchase.count "" %}</td>
              <td>${{ other_purchase.total_cost }}</td>
              <td>
                {% if perms.subscribers.delete_other_purchase %}
                  <a href="{% url 'subscribers.contacts.delete_other_purchase' other_purchase.pk %}" class='confirm'>delete</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    {% endwith %}

    <table class='noborder'>
        <tr><td><h2>Mailing Stay</h2></td>
            <td><a class='button' href='#' id='add_mailingstay'>Add</a></td></tr>
    </table>
    <form method='post' action='' 
      {% if not mailing_stay_form.errors %}style='display: none;'{% endif %}
      id='mailing_stay_form'>
      {% csrf_token %}
      <p>Withold mail from this contact for a period of time.</p>
      <table>
        {{ mailing_stay_form.as_table }}
      </table>
      <p><input type='submit' name='add_mailing_stay' value='Add mailing stay' class='flatbutton blue' /></p>
    </form>
    {% if contact.mailingstay_set.current_stays.exists %}
      <p style='color: red;'>Mailing stay is currently active<br />
      No mail will be delivered until the stay is lifted.</p>
    {% endif %}
    {% with contact.mailingstay_set.all as mailing_stays %}
      {% if mailing_stays %}
        <table>
          <tr>
            <th>Start date</th>
            <th>End date</th>
          </tr>
          {% for mailing_stay in mailing_stays %}
            <tr>
                <td>{{ mailing_stay.start_date|date }}</td>
                <td>
                  {% if mailing_stay.end_date %}
                    {{ mailing_stay.end_date|date }}
                  {% else %}
                  current <a href="{% url 'subscribers.contacts.end_mailing_stay' mailing_stay.id %}" class='end-stay'>(end stay)</a>
                  {% endif %}
                </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    {% endwith %}

</div>
<div class='column2'>
    <a href="{% url 'subscribers.contacts' %}?contact_id={{ contact.id }}&pdf=1" style='background-color: #eec;'>&dArr; Mailing Label</a>
    <a href="{% url 'subscribers.contacts' %}?contact_id={{ contact.id }}&pdf=1&subdetails=1" style='background-color: #eec;'>&dArr; Mailing Label with sub details</a>
    <h2>Notes</h2>
    {% include "_notes_list.html" with notes=contact.note_set.all %}
    {% with contact.inquiry_set.reverse_chronological as inquiries %}
      <table class='noborder'>
          <tr><td><h2>Inquiries</h2></td>
              <td><a class='button' href='#' id='add_inquiry'>Add</a></td></tr>
      </table>

      <form method='post' action='' 
        {% if not inquiry_form.errors %}style='display: none;'{% endif %}
        id='inquiry_form'>
        {% csrf_token %}
        {{ inquiry_form.as_p }}
        <p><input type='submit' name='add_inquiry' value='Add inquiry' class='flatbutton blue' /></p>
      </form>

      {% if inquiries %}
        <table style='margin-bottom: 1em;'>
          <tr>
            <th>Inquiry Type</th><th>Response type</th><th>Date added</th><th>Mailing?</th><td></td>
          </tr>
          {% for inquiry in inquiries %}
            <tr>
              <td>{{ inquiry.request_type.description }}</td>
              <td>{{ inquiry.response_type.description }}</td>
              <td>{{ inquiry.date|date }}</td>
              <td>
                {% if inquiry.response_type.generate_mailing %}
                  {{ inquiry.response_type.code }}
                {% endif %}
              </td>
              <td>
                {% if perms.subscribers.delete_inquiry and not inquiry.batch %}
                  <a href="{% url 'subscribers.contacts.delete_inquiry' inquiry.pk %}" class='confirm'>delete</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
      <em>No inquiries yet</em>
      {% endif %}
    {% endwith %}
    {% with contact.mailing_set.all as mailings %}
        <table class='noborder'>
            <tr><td><h2>Mailings</h2></td>
                <td><a class='button' href='#' id='add_mailing'>Add</a></td></tr>
        </table>
        <form method='post' action=''
          {% if not mailing_form.errors %}style='display: none;'{% endif %}
          id='mailing_form'>
          {% csrf_token %}
          {{ mailing_form.as_p }}
          <p><input type='submit' name='add_mailing' value='Add mailing' class='flatbutton blue' /></p>
        </form>

        {% if mailings %}
            <table>
                <tr>
                    <th>Added</th><th>Sent?</th><th>Details</th><th>Censored?</th><th></th>
                </tr>
                {% for mailing in mailings %}
                <tr class='{% if mailing.censored %}censored{% endif %} {% if not mailing.sent %}unsent{%endif %}'>
                        <td>{{ mailing.created|date }}</td>
                        <td>
                            {% if mailing.sent %}
                              {{ mailing.sent|date }}
                            {% else %}
                              Unsent
                              <a href="{% url 'subscribers.mailings.mark_sent' mailing.id %}" class='mark-mailing-sent'>(mark sent)</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ mailing.type }}
                            {% if mailing.type.type == "Issue" and mailing.issue %}({{ mailing.issue }}){% endif %}
                            {% if mailing.inquiry %}
                              ({{ mailing.inquiry.response_type }})
                            {% endif %}
                            {% if mailing.custom_text %}
                            <br />{{ mailing.custom_text }}
                            {% endif %}
                        </td>
                        <td>
                          <form method='post' action="{% url 'subscribers.mark_censored' mailing.pk %}">{% csrf_token %}
                              <input name='censored' type='checkbox' {% if mailing.censored %}checked='checked'{% endif %} />
                          </form>
                        </td>
                        <td>
                          {% if perms.subscribers.delete_mailing %}
                            <a href="{% url 'subscribers.mailings.delete_mailing' mailing.id %}" class='confirm'>delete</a>
                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
          <em>No mailings yet</em>
        {% endif %}
    {% endwith %}
</div>
<div style='clear: both;'></div>
<p>
<br />
<br />
<br />
{% if perms.subscription.delete_contact %}
  <a href="{% url 'admin:subscribers_contact_delete' contact.id %}" class='button delete'>Delete {{ contact.show_name }}</a>
{% endif %}
{% endblock %}
{% block scripts %}
    <script type='text/javascript'>
        $("input[name=censored]").on('change', function() { $(this).parent().submit(); });
        $("#add_contactaddress").on('click', function() {
                $("#contactaddress_form").toggle();
                return false;
        });
        $("#add_inquiry").on("click", function() {
            $("#inquiry_form").toggle();
            return false;
        });
        $("#add_mailingstay").on("click", function() {
            $("#mailing_stay_form").toggle();
            return false;
        });
        $("#add_subscription").on('click', function() {
                $("#subscription_form").toggle();
                return false;
        });
        $("#add_other_purchase").on('click', function() {
                $("#other_purchase_form").toggle();
                return false;
        });
        $("#add_mailing").on('click', function() {
                $("#mailing_form").toggle();
                return false;
        });
        $("#edit").on('click', function() {
                $("#edit_form").toggle();
                $("table.contact").toggle();
                return false;
        });
        $("#id_start_date").datepicker({dateFormat: "yy-mm-dd"});
        $("[name=address_type]").on('change', function() {
            if ($(this).val() == "prisoner") {
                $(".prisoner-address").show();
                $(".non-prisoner-address").hide()
            } else {
                $(".prisoner-address").hide()
                $(".non-prisoner-address").show();
            }
        });
        $("[name=address_type]:checked").change();
        
        $("#id_type").change();
        $("#id_payer").select2({
            allowClear: true,
            placeholder: "Add a payer",
            width: "100%",
            ajax: {
                url: "{% url 'subscribers.contacts.json' %}",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term,
                        page: page,
                        per_page: 50
                    }
                },
                results: function (data, page) {
                    var more = (page * 50) < data.count;
                    return {
                        results: data.results,
                        more: more
                    }
                }
            }
        });
        $("#id_mailingstay-start_date, #id_mailingstay-end_date, #id_add_other_purchase-date").datepicker({
            dateFormat: "yy-mm-dd"
        }).attr({
            placeholder: "YYYY-MM-DD"
        });
        $(".end-stay").on("click", function() {
          if (confirm("Restart mail delivery for this contact?")) {
              $.ajax({
                  url: $(this).attr("href"),
                  type: 'post',
                  success: function() {
                      window.location.reload(true);
                  },
                  error: function() {
                      console.log("AJAX Error");
                      console.log(arguments);
                  }
              });
          }
          return false;
        });
        $(".mark-mailing-sent").on("click", function() {
          if (confirm("Mark this mailing sent?")) {
              $.ajax({
                  url: $(this).attr("href"),
                  type: 'post',
                  success: function() {
                      window.location.reload(true);
                  },
                  error: function() {
                      console.log("AJAX Error");
                      console.log(arguments);
                  }
              });
          }
          return false;
        });
        $("#goto").on("submit", function(event) {
            event.preventDefault();
            var val = $("input[name=subscriber_number]", $(event.currentTarget)).val();
            if (/^[0-9]+$/.test(val)) {
              window.location.href = "/contacts/" + val + "/";
            }

        });
    </script>
{% endblock %}
{# vim set ts=4 sw=4 : #}
