{% extends "contacts/base.html" %}
{% load humanize %}
{% block title %}Stop subscription{% endblock %}
{% block content %}
  {% if subscription.stop_reason %}
    <p class='error'>This subscription was stopped on {{ subscription.end_date }}.</p>
    <p>Reason: <em>{{ subscription.stop_reason }}</em></p>
    <p><a href='{{ subscription.contact.get_absolute_url }}'>back to {{ subscription.contact }}</a></p>
  {% else %}
    <h1>Stop Subscription</h1>
    <p>Stop <em>{{ subscription.contact_name }}</em>'s subscription early?</p>
    <form method='post' action=''>{% csrf_token %}
      {{ stop_form }}
      <p><input type='submit' class='flatbutton blue' value='End Subscription' /></p>
    </form>
  {% endif %}
{% endblock %}
