{% extends "base.html" %}
{% load humanize %}
{% block sharing_nav_class %}active{% endblock %}
{% block title %}Contact sharing{% endblock %}
{% block content %}
<h1>Share contacts with partners</h1>
<p>
Searches for all contacts who have a source type "Other: Info Request" and
do not have "Opt out" checked, to share with data sharing partners.
</p>

<form method='post' action=''>{% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr><th>New contacts to share:</th><td class='contact-count'></td>
    <tr>
      <td></td>
      <td><input type='submit' class='flatbutton blue' value='Add sharing batch' /></td>
    </tr>
  </table>
</form>

<h2>Past sharings</h2>
<table>
  <tr>
    <th>Date</th><th>Partner</th><th>Contact count</th><th>Download</th><th></th>
  </tr>
  {% for batch in batches %}
  <tr>
    <td>{{ batch.date|naturalday }}</td>
    <td>{{ batch.partner }}</td>
    <td>{{ batch.contacts.count }}</td>
    <td>
      <a href="{% url 'subscribers.sharingbatch.download' batch.id 'pdf' %}">pdf</a>
      <a href="{% url 'subscribers.sharingbatch.download' batch.id 'xlsx' %}">xlsx</a>
    </td>
    <td>
      {% if perms.subscribers.delete_sharingbatch %}
        <a class='confirm' href="{% url 'subscribers.sharingbatch.delete' batch.id %}">delete</a>
      {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  var getContactCount = function() {
    var val = $("#id_partner").val();
    if (val == '') {
      $(".contact-count").html("Choose a partner to build count");
    } else {
      $.ajax({
        url: "{% url 'subscribers.sharingbatch.count' %}",
        data: { partner_id: $("#id_partner").val() },
        success: function(data) {
          $(".contact-count").html(data.count)
        },
        error: function(data) {
          console.log("AJAX Error");
          console.log(arguments);
          console.log(data);
        }
      });
    }
  }
  getContactCount();
  $("#id_partner").on("change", getContactCount);
</script>
{% endblock %}
